body {
    font-family: var(--font-main);
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.5;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

p {
    color: var(--color-muted);
}

.hidden {
    display: none !important;
}